    <div class="row">
    	<div class="col-md-10 offset-1">
	   		<table class="table">
	   			<thead>
	   				<tr>
	   					<th>image</th>
	   				    <th>name(account_name)</th>
	   					<th></th>
	   				</tr>
	   			</thead>
	   			<tbody>
	   			<% users.each do |user| %>
    				<tr>
	    	            <td>
	   		            	<%= attachment_image_tag user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "rounded-circle" %>
	   		            </td>

	   		            <td>
	   		            	<%= link_to user.user_name, user_path(user.id) %>
	   		            	<% if user.account_name.present? %>
	   		            	    (<%= link_to "@#{user.account_name}", user_path(user.id) %>)
	   		            	<% end %>
	   		            </td>

	   				    <td>
	   				    	<div id="relationship">
                                <%= render 'shared/relationship', {user: user} %>
                            </div>
                        </td>
	   				</tr>
	    		<% end %>
	   			</tbody>
	   		</table>
	   	</div>
    </div>