// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-form {
	text-align: center;
	padding: 15px 0;
}

.group_field {
	text-align: center;
}

.field {
	padding: 20px 0;
	border-bottom: 4px solid #f7f7f7;
}

.actions {
	text-align: right;
	padding: 20px 0;
}