// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-img {
	text-align: center;
	margin: 20px 0 10px 60px;
}

.follow {
	margin-left: 80px;
}

.sub-btn {
	text-align: center;
	margin-left: 60px;
}

.info {
	text-align: center;
	margin-top: 35px;
}



